VITE_SUPABASE_URL=https://kukwbykgvxktlqschfdm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1a3dieWtndnhrdGxxc2NoZmRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MzQ0NzQsImV4cCI6MjEwNTMxMDQ3NH0.tXkhvH92IvNmgvT83sUquLZF7UZ1ognIhswjW5WrkUg